* {
    box-sizing: inherit;
}

div {
    display: block;
}

.consent-policy {
    margin-left: 1rem;
    margin-right: 1rem;
    bottom: 1rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0.625em 1.875em #0000024d;
    display: flex;
    flex-direction: column;
    max-width: 24em;
    overflow: hidden;
    position: fixed;
    visibility: visible;
    z-index: 1;
    color: #2c2f31;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.15;
    text-rendering: optimizeLegibility;
}

.cm-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    --vw: 19.03px;
    --vh: 9.57px;
    --vh-initial: 9.57px;
}

.cm-button {
    display: block;
}

.cm-button-close {
    border-radius: 0;
    font-size: 1em;
    height: 42px;
    min-width: auto;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 42px;
}

.cm-button-secondary {
    background: transparent;
    border-color: #E7E7E7;
    color: #2c2f31;
}

.cm-button {
    border: 1px solid #E7E7E7;
    font-weight: 600;
    min-height: 42px;
    text-align: center;
    outline: revert;
    outline-offset: 2px;
    margin: 0;
}

.cm-button-close svg {
    stroke: #2c2f31;
    transform: scale(.5);
}

.cm-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0 0;
}

.cm-title {
    padding-right: 2em;
    font-size: 1.05em;
    font-weight: 600;
}

.cm-title+.cm-description {
    margin-top: 1.1em;
}

.cm-description {
    color: #5e6266;
    font-size: .9em;
    max-height: 40vh;
    overflow-x: visible;
    overflow-y: auto;
    padding-bottom: 1em;
}

.cm-title .cm-description {
    padding: 0 1.3em;
}